<div class="flex-wrapper">
        <div class="flex-items-wrapper">
                <h2 class="date">#{{post.postedOn | date: 'MMMM dd, yyyy'}}</h2>  
                <h1 class="title" [routerLink]="['/blog', post.id]">{{post.title}}</h1>
                <h3 class="description">{{post.description}}</h3>
        </div>
        <div class="actions">
            <button mat-stroked-button color="primary" [routerLink]="['../post-edit', post.id]">Edit</button>
        </div>    
</div>
<mat-divider></mat-divider>
