.logo {
    margin-right: 10px;
}

mat-toolbar {
    position: fixed;
}

.spacer {
    flex: 1 1 auto;
}

button {
    margin-right: 10px;
    box-shadow: none!important;
}

button:last-child() {
    margin-right: 0;
}

button.signup {
    border: 1px solid white;
}

.user-avatar {
    width: 19px;
    border-radius: 6px;
}

.navbar-items-wrapper {
    display: flex;
    align-items: center;
}