.container {
    max-width: 50em;
    margin: 0 auto;
    padding: 2em;    
}

.container form {
    display: flex;
    flex-flow: column;
}

.flex-wrapper {
    display: flex;
    padding-bottom: 20px;
}

.flex-items-wrapper {
    margin-right: 20px;
    width: 50%;
}

.flex-items-wrapper:last-child {
    margin-right: 0;
}

.post-preview-card {
    max-height: 486px;
    overflow-x: hidden;
    padding: 0;
}

.post-preview-title {
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
}

.post-preview-image {
    width: 100%;
}

.post-preview-text {
    padding: 16px;
}

.full-width {
    width: 100%;
}

.post-preview-content-text {
    overflow-wrap: break-word;
}
