<div>
  <header class="header">
    <mat-select [value]="selectedSearchType" (selectionChange)="onSearchTypeChange($event)" required>
      <mat-option *ngFor="let searchType of searchTypes" [value]="searchType.value">
        {{searchType.viewValue}}
      </mat-option>
    </mat-select>
  </header>

<ul>
  <li *ngFor="let post of posts">
    <app-post-details [post]="post"></app-post-details>
  </li>
</ul>

  <mat-paginator class="paginator" [class.hidden]="!posts.length"
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)">
  </mat-paginator>
</div>

<section [class.hidden]="posts.length" class="error-container">
  <span><span>Posts</span></span>
  <span>are not</span>
  <span><span>found</span></span>
</section>
