.post-card {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: none!important;
}

.post-image {
    width: 100%;
}

.post-text {
    padding: 16px;
}

.full-width {
    width: 100%;
}

.post-content-text {
    overflow-wrap: break-word;
}

.post-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
}
