<mat-card class="post-preview-card">
    <div>
          <mat-card-header class="post-preview-text">
              <mat-card-subtitle>#{{post?.postedOn | date: 'MMMM dd, yyyy'}}</mat-card-subtitle>
              <mat-card-title>{{post?.title}}</mat-card-title>
              <mat-card-subtitle>{{post?.description}}</mat-card-subtitle>
            </mat-card-header>
            <img class="post-preview-image" [src]="safeUrl || '../../assets/img/default-post-image.jpg'" alt="Image">
              <mat-card-content class="post-preview-text">
                <p class="post-preview-content-text" [innerHtml]="post?.content"></p>
              </mat-card-content>
      </div>  
</mat-card>
